<ion-view view-title="Ανέβασε την!">
	<ion-nav-buttons side="right">
		<!-- <button class="button button-clear button-positive icon ion-calendar" ng-click="showCalendarPopup()"></button> -->
		<button class="button button-clear button-clear icon ion-ios-barcode-outline" ng-click="scanBarcode()"></button>
	</ion-nav-buttons>
	<ion-content padding="true">  
    </ion-content>

	<div class="cropArea">
		<img-crop image="myImage" result-image="myCroppedImage"
				  result-image-quality="1" result-image-size="2000"
				  area-min-size = "10"
				  area-type="rectangle"


				  result-width="myCroppedImageW"
				  result-height="myCroppedImageH"

				  result-x="myCroppedImageX"
				  result-y="myCroppedImageY"

				  original-width="myOriginalW"
				  original-height="myOriginalH"

				  original-crop-x="myOriginalX"
				  original-crop-y="myOriginalY"

				  original-crop-width="myCroppedOriginalW"
				  original-crop-height="myCroppedOriginalH"></img-crop>
	</div>


    <div class="bar bar-footer bar-stable camera-footer">
		<button class="button button-clear button-positive icon ion-aperture camera-btn" ng-click="getPhoto()"></button>
		<a href="#/app/confirm" class="button button-clear button-positive icon ion-ios-compose-outline pull-right receipt-insert-btn"></a>
	</div>
</ion-view>
