<ion-view view-title="{{title}}">
	<ion-content class="padding">
		<form  name="confirmReceiptForm" ng-submit="addReceipt(confirmReceiptForm)" novalidate>
		    <div class="list receipt-form">
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.sname.$invalid && !confirmReceiptForm.sname.$pristine, 'no-errors' : confirmReceiptForm.sname.$valid}">
				    <span class="input-label">Επωνυμία</span>
				    <input type="text" name="sname" ng-model="receipt.name" placeholder="π.χ. Άρτος & Γεύση" required>
				</label>
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.address.$invalid && !confirmReceiptForm.address.$pristine, 'no-errors' : confirmReceiptForm.address.$valid}">
				    <span class="input-label">Διεύθυνση</span>
				    <input type="text" name="address" ng-model="receipt.address" placeholder="π.χ. Σεβαστουπόλεως 15" required>
				</label>
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.afm.$invalid && !confirmReceiptForm.afm.$pristine, 'no-errors' : confirmReceiptForm.afm.$valid}">
				    <span class="input-label">ΑΦΜ</span>
				    <input type="text" name="afm" ng-model="receipt.afm" placeholder="π.χ. 12345678" required ng-minlength="9" ng-maxlength="9" ng-pattern="/^(0|[1-9][0-9]*)$/">
				</label>
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.doy.$invalid && !confirmReceiptForm.doy.$pristine, 'no-errors' : confirmReceiptForm.doy.$valid}">
				    <span class="input-label">ΔΟΥ</span>
				    <input type="text" name="doy" ng-model="receipt.doy" placeholder="π.χ. Ψυχικού" required>
				</label>
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.am.$invalid && !confirmReceiptForm.am.$pristine, 'no-errors' : confirmReceiptForm.am.$valid}">
				    <span class="input-label">Αριθμός Μητρώου (Α.Μ.)</span>
				    <input type="text" name="am" ng-model="receipt.am" placeholder="π.χ. 23131231" required>
				</label>
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.aa.$invalid && !confirmReceiptForm.aa.$pristine, 'no-errors' : confirmReceiptForm.aa.$valid}">
				    <span class="input-label">Αύξων Αριθμός (Α.Α.)</span>
				    <input type="text" name="aa" ng-model="receipt.aa" placeholder="π.χ. 1234567" required>
				</label>
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.date.$invalid && !confirmReceiptForm.date.$pristine, 'no-errors' : confirmReceiptForm.date.$valid}">
				    <span class="input-label">Ημερομηνία</span>
				    <ionic-datepicker idate="currentDate" > <!-- disablepreviousdates="true" -->
				    	<input type="text" name="date"  value="{{currentDate | date:'dd - MM - yyyy'}}" placeholder="π.χ. 06-05-2016" required>
				    </ionic-datepicker>
				</label>
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.category.$invalid && !confirmReceiptForm.category.$pristine, 'no-errors' : confirmReceiptForm.category.$valid}">
				    <span class="input-label">Κατηγορία</span>
				    <input type="text" name="category" ng-model="receipt.category" placeholder="π.χ. Διατροφή" ng-click="showCategories()" required>
				</label>
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.fpa.$invalid && !confirmReceiptForm.fpa.$pristine, 'no-errors' : confirmReceiptForm.fpa.$valid}">
				    <span class="input-label">Φ.Π.Α.</span>
				    <input type="text" name="fpa" ng-model="receipt.fpa" placeholder="π.χ. 2.12" required ng-pattern="/^[0-9]{1,10}(\.[0-9]+)?$/">
				</label>
				<label class="item item-input item-stacked-label" ng-class="{'has-errors' : confirmReceiptForm.total.$invalid && !confirmReceiptForm.total.$pristine, 'no-errors' : confirmReceiptForm.total.$valid}">
				    <span class="input-label">Σύνολο</span>
				    <input type="text" name="total" ng-model="receipt.total" placeholder="π.χ. 5.22" required ng-pattern="/^[0-9]{1,10}(\.[0-9]+)?$/">
				</label>
			</div>
		    <button class="button button-block button-positive">Προσθήκη απόδειξης</button>
		</form>
	</ion-content>
</ion-view>

