<ion-view cache-view="false" view-title="Οι επιβραβεύσεις μου">
	<ion-tabs class="tabs-striped tabs-top tabs-positive">
		<ion-tab title="Φορολογικές" on-select=showAllTabData()>
			<ion-nav-view name="tax-tab">
				<ion-content>
					<ion-list>
			        	<div ng-repeat="receipt in receipts">
			          		<ion-item class="item-stable" ng-click="toggleReceipt(receipt)" ng-class="{active: isReceiptShown(receipt)}">
			              		<a class="item item-avatar" href="#">
						      		<img src="/img/venkman.jpg">
						      		<div class="pull-left">
						      			<h2><b>{{receipt.name}}</b></h2>
						      			<p>{{receipt.sale}}<p>
						      		</div>
						      		<div class="pull-right share-buttons">
						      		<button class="button button-clear button-calm icon ion-social-twitter" ng-disabled="!twitter" ng-click="shareViaTwitterTax(50)"></button>
						      		<button class="button button-clear button-positive icon ion-social-facebook" ng-disabled="!facebook"></button>
						    		</div>
						    	</a>
			         		</ion-item>
			        	</div>
      				</ion-list>
				</ion-content>
			</ion-nav-view>
		</ion-tab>
		<ion-tab title="Καταστημάτων" on-select=showMonthTabData()>
			<ion-nav-view title="shop-tab">
				<ion-content>
					<ion-list>
			        	<div ng-repeat="receipt in receipts">
			          		<ion-item class="item-stable" ng-click="toggleReceipt(receipt)" ng-class="{active: isReceiptShown(receipt)}">
			              		<a class="item item-avatar" href="#">
						      		<img src="/img/venkman.jpg">
						      		<div class="pull-left">
						      			<h2><b>{{receipt.name}}</b></h2>
						      			<p>{{receipt.sale}}<p>
						      		</div>
						      		<div class="pull-right receipt-toggle">
						      			<i class="icon" ng-class="isReceiptShown(receipt) ? 'ion-minus' : 'ion-plus'"></i>
						    		</div>
						    	</a>
			         		</ion-item>
			          		<ion-item class="item-accordion receipt-item " ng-repeat="item in receipt.items" ng-show="isReceiptShown(receipt)">
			          			{{item.name}} &nbsp;{{item.value}}</ion-item>
			        	</div>
      				</ion-list>
				</ion-content>
			</ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>
