<ion-side-menus enable-menu-with-back-views="false">
  	<ion-side-menu-content>
    	<ion-nav-bar class="bar-positive">
      		<ion-nav-back-button></ion-nav-back-button>
      		<ion-nav-buttons side="left">
        		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      		</ion-nav-buttons>
		</ion-nav-bar>
    	<ion-nav-view name="menuContent"></ion-nav-view>
  	</ion-side-menu-content>
  	<ion-side-menu side="left">
    	<ion-header-bar class="bar-stable">
      		<h1 class="title"><font color="#387EF5">Tax</font> NO.R.I.S</h1>
    	</ion-header-bar>
    	<ion-content>
	      	<ion-list>
	        	<ion-item menu-close href="#/app/camera">Ανέβασε την!</ion-item>
	        	<ion-item menu-close href="#/app/receipts">Οι αποδείξεις μου</ion-item>
	        	<ion-item menu-close href="#/app/gifts">Οι επιβραβεύσεις μου</ion-item>
	        	<ion-item menu-close href="#/app/profile">Το προφίλ μου</ion-item>
	        	<ion-item menu-close href="#/app/settings">Ρυθμίσεις</ion-item>
				<ion-item menu-close href="#/logout">Αποσύνδεση</ion-item>
	      	</ion-list>
	    </ion-content>
  	</ion-side-menu>
</ion-side-menus>