<ion-view view-title="Το προφίλ μου">
  <ion-content>
    <div class="profile-wrapper center">
    	<div class="row">
    		<div class="col"><img class="user-avatar" src="./img/venkman.jpg">
    		</div>
    	</div>
    	<div class="row">
    		<div class="col">
    			<i class="icon ion-ios-star"></i>
		    	<i class="icon ion-ios-star"></i>
		    	<i class="icon ion-ios-star"></i>
		    	<i class="icon ion-ios-star"></i><br/>{{user.email}}
    		</div>
    	</div>
    </div>
    </ion-content>
    <ion-tabs class="profile-tabs tabs-striped tabs-top tabs-stable">
		<ion-tab title="Συνολικά" on-select=showAllTabData()>
			<ion-nav-view name="all-tab">
				<ion-content>
			    	<div class="user-charts-wrapper"> 
			    		<canvas id="pie-chart" receipts-number="44" receipts-value="22.2€" chart-text tc-chartjs-doughnut chart-options="options" chart-data="data"></canvas>
			    	</div>
					<!--
			    	<ul class="list">
					    <li class="item">
					    	<i class="icon ion-android-checkbox-blank positive"></i>
					      	Είδη διατροφής
					    	<span class="pull-right">135.2€</span>
					    </li>
					    <li class="item">
					    	<i class="icon ion-android-checkbox-blank calm"></i>
					      	Οινοπνευµατώδη ποτά & καπνός
					      	<span class="pull-right">135.2€</span>
					    </li>
					    <li class="item">
					      	<i class="icon ion-android-checkbox-blank balanced"></i>
					      	Στέγαση
					      	<span class="pull-right">135.2€</span>
					    </li>
					    <li class="item">
					      	<i class="icon ion-android-checkbox-blank energized"></i>
					      	∆ιαρκή αγαθά
					      	<span class="pull-right">135.2€</span>
					    </li>
					    <li class="item">
					      	<i class="icon ion-android-checkbox-blank assertive"></i>
					      	Υγεία
					      	<span class="pull-right">135.2€</span>
					    </li>
					    <li class="item">
					      	<i class="icon ion-android-checkbox-blank royal"></i>
					      	Μεταφορές
					      	<span class="pull-right">135.2€</span>
					    </li>
					    <li class="item">
					      	<i class="icon ion-android-checkbox-blank dark"></i>
					      	Επικοινωνίες
					      	<span class="pull-right">135.2€</span>
					    </li>
					    <li class="item">
					      	<i class="icon ion-android-checkbox-blank dark"></i>
					      	Αναψυχή & πολιτισµός
					      	<span class="pull-right">135.2€</span>
					    </li>
					    <li class="item">
					     	<i class="icon ion-android-checkbox-blank positive"></i>
					     	Ξενοδοχεία, καφενεία & εστιατόρια
					     	<span class="pull-right">135.2€</span>
					    </li>
					    <li class="item">
					      	<i class="icon ion-android-checkbox-blank positive"></i>
					      	∆ιάφορα αγαθά & υπηρεσίες
					      	<span class="pull-right">135.2€</span>
					    </li>
					</ul>
					-->
				</ion-content>
			</ion-nav-view>
		</ion-tab>
		<ion-tab title="Αυτό τον μήνα" on-select=showMonthTabData()>
			<ion-nav-view title="month-tab">
				<ion-content>
					<!-- <div class="row user-statistics">
			    		<div class="col center ">134<br/>ΑΠΟΔΕΙΞΕΙΣ
			    		</div>
			    		<div class="col center">135.2€<br/>ΠΟΣΟ
			    		</div>
			    	</div> -->
				</ion-content>
			</ion-nav-view>
		</ion-tab>
	</ion-tabs>




















  
  <!-- <ion-content>

  </ion-content> -->
</ion-view>
